@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background: #444140;
    padding: 0;
    margin: 0;
    color: #f7ebe8;
}

button{
    margin: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

button:hover{
    background: #87ff87;
}

#play-again{
    display: none;
}

h1, h3, #result{
    text-align: center;
}

p{
    font-size: 24px;
}

#result{
    height: 20px;
}

#play-again{
    margin: auto;
    padding: 10px;
    font-size: 24px;
    background-color: #444140;
    color: #e54b4b;
    border: 2px solid #e54b4b;
    border-radius: 5px
}

#play-again:hover{
    background-color: #e54b4b;
    color: #f7ebe8;
}

.container{
    display: flex;
    justify-content: center;
}

.container div{
    background: #f7ebe8;
    color: #1e1e24;
    width: 300px;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}

[src=""]{
    visibility: hidden;
}

.hand-played{
    width: 100px;
    height: 100px;
}


